
.raleway-font-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-large-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight:bolder;
    font-size: 60px;
    color: #4E47FF;
}
nav ul li{
    margin-left: 150px;
    margin-right: 150px;
    list-style: none;
}
.button-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    border: none;border-radius: 15px;
}
.banner-content{
    text-align: center;
    font-weight: 900px;
    height: 150px;
    font-size: 65px;
    color:#252432;
    margin-top: 116px;
    margin-bottom: 158px;
}
.banner{
    text-align: center;
    

}
.banner-bg-color{
    max-width: 1440px;
    max-height: 700px;
}
.about-action {
    display:flex;
    justify-content:space-between;
    
    margin: 50px 150px;
    
}
.header{
     background-image: url(../Assets/Hero-bg.png);
}
main{
    max-width: auto;
    margin: 0px;
}
main section{
    margin:0px 130px 0px 130px;
    
}
.about-action-item{
    font-weight: bold;
    font-size: 42px;
}
.about-action-item-1{
    color: #252432;
    font-size: 24px;
}
.about-action-img{
    width: 400px;
    height:320px;
    border-radius: 48px;
}
.user-info{
    background-color: #c0c0d5;
    padding:80px;50px,
    border-radius: 24px;
    
    
}
.user-font{
    font-weight: bold;
    font-size: 38;
    color:#252432;
    text-align: center;

}
.user-title{
    font-weight: bold;
    font-size: 80px;text-align: center;
}
.users-info{
    display:flex;
    justify-content: space-around;
}
.invitation{
    text-align: center;
    background-color: #d0cfe7;
}
.user-review{
    display:flex;
    justify-content: space-around;
}